:root{/* CSS HSL https://coolors.co/474448-ecc30b-d16666-9fbbcc-64f58d */
 --backgroundColour : #000000;/*#171717;hsla(285, 3%, 27%, 1); */
--buttonColour: hsl(49, 91%, 48%);
--LesserImportance: #FB4D3D;
--LimitedImportance:#588157;
--Spotify: #0FE64C;
--Circle : #1974c6;
--headerColor:#375369;
--chinese-red: #a53f2bff;
--seal-brown: #4c230aff;

}




