:root{/* CSS HSL https://coolors.co/474448-ecc30b-d16666-9fbbcc-64f58d */
--backgroundColour : hsla(285, 3%, 27%, 1);
--buttonColour: hsla(49, 91%, 48%, 1);
--LesserImportance: hsla(0, 54%, 61%, 1);
--LimitedImportance: hsla(203, 31%, 71%, 1);
--Spotify: hsla(137, 88%, 68%, 1);
--Circle : #1974c6;
}




