@import url("colours.css");
@-ms-viewport{
  width: device-width;
}
html {
   font-size: 18px;
  font-family: 'Baloo Tamma 2', cursive;
}
body {
   padding-bottom: 1vh;
   margin: 0;
   background:var(--backgroundColour);
}
img{
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

video{
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
/*img.stickes {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  order: 0;
}*/
.TopperClass{
  justify-content: center;
  display: flex;
 
  padding: 0.5rem 1rem;

  
}
.cards a{
  color:white;
  
}
#BigDiv{
  justify-content: center;
}
#TextContentBox{
  background-color: white;
  border-radius: 25px;
  height: auto;
  align-self: center;
  justify-content: center;
  overflow: auto;
  padding: 77px 55px 33px 55px;
  font-size:0.9rem;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
}




#MediaContentBox{
  background-color: white;
  border-radius: 25px;
  height: auto*(80%);
  align-self: center;
  justify-content: center;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  
}
.hide{
  display: none;
}
.headerclass{
  padding: 5px 0px;
  background: var(--headerColor);
  color: #f1f1f1;
  overflow: hidden;
  order: 4;
  text-align: center;
 /* min-height: inherit !important;*/
 min-height: 10vh;
  max-height: 40vh;
  transition: 0.4s;
  /*position: sticky;*/
}
.header h1{
  font-size: 1em;
}
.ButtonLink{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 1.2em;
  color: white;
  font-weight:500;
  background: var(--buttonColour);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,var(--buttonColour),var(--chinese-red),var(--seal-brown));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,var(--buttonColour),var(--chinese-red),var(--seal-brown)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  width: 100%;
  /*position: relative;*/
  border-radius: 55px;
  overflow:hidden;
  justify-content: center;
  padding: 5%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  border: none;
}
.ButtonLink:hover{
  background-image: linear-gradient(to right bottom, #eac10b, #eaa111, #e3811f, #d6632b, #c44734, #bc4135, #b43b36, #ac3537, #b14134, #b64c32, #ba5830, #bd632f);
  filter: brightness(100%);
}
.card {
  background-color:var(--LimitedImportance);
  color: white;
  padding: 1rem;
  height: 4rem;
  margin:0.5rem;
  background: rgb(10,153,50);
  background: linear-gradient(150deg, rgba(10,153,50,1) 35%, rgba(25,240,86,1) 100%); 
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.32);
  filter: blur(125%);
  border-radius: 5px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.ContentCards{
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  order: 5;
  
  
  
}

.ContentCards {
  max-width: 400vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}


.cards-spotify{
  background-color: var(--Spotify);
}
.cards-lesserImportance{
  background-color: var(--LesserImportance);
}
.cards-lesserImportance:hover{
  cursor: pointer;
  filter: brightness(108%);
}
.cards-spotify:hover{
      color: gray;
      background-image: url("Assets/Spotify/SpotifyFrontPage.png");
      background-position:top;
      cursor: pointer;
      filter: brightness(108%);
}

.CardLimiter{
  margin-top:1vh
}
.cards-linkedin{
  background: rgb(10,153,50);
  background-size:contain;
  background-image: url("LinkedIn.png"),linear-gradient(150deg, rgba(10,153,50,1) 35%, rgba(25,240,86,1) 100%);
  background-repeat:no-repeat;
  background-position: center;
}
.cards-linkedin:hover{
  
  cursor: pointer;
  filter: brightness(108%);
  
}
.cards-circle{
  /* background-color: var(--Circle); */
  background: rgb(10,153,50);
  background: linear-gradient(36deg, rgba(10,153,50,1) 35%, rgba(25,240,86,1) 79%); 
}
.cards-circle:hover{
  /* background-image: url("Assets/Circle/CircleHover.ico");
  background-repeat:no-repeat;
  background-position: center; */
  cursor: pointer;
  filter: brightness(108%);
}
.cards-github{
  background: rgb(10,153,50);
  background-size:contain;
  background-image: url("github.png"),linear-gradient(150deg, rgba(10,153,50,1) 35%, rgba(25,240,86,1) 100%);
  background-repeat:no-repeat;
  background-position: center;
  }
.cards-github:hover{
  cursor: pointer;
  filter: brightness(120%);
}
.cards-other:hover{
  cursor: pointer;
  filter: brightness(128%);
  
}
.bar1,.bar2,.bar3{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.9s;
  border-radius: 20px;
  order: 5;
}

.bar1-cross{
  margin: 15px 0;
  position: absolute;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg);
}
.bar2-cross{
  margin: 15px 0;
  position: absolute;
  -ms-transform: rotate(-45deg); /* IE 9 */
  transform: rotate(-45deg);
}



  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
    .CardLimiter{margin-top: 10vh;}
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); max-width: 80vw;margin-right: 7.5;margin-left: 7.5;}
    .ContentCards{grid-template-columns: repeat(2, 1fr);
      max-width: 800vw;}
    .CardLimiter{margin-top: 10vh;}

  }


  @media (min-width: 600px) {
    @supports(-ms-ime-align: auto){
         .cards { grid-template-columns: repeat(2, 1fr); }
    }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    @supports(-ms-ime-align: auto){
      .cards { grid-template-columns: repeat(3, 1fr); }
      .ContentCards{grid-template-columns: repeat(1, 1fr);
      max-width: 800vw;}
 }
  }

